<!DOCTYPE html>
<html lang="en">
<head>

    <title>CFX Group - Earn Passive Income Online</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="CashFx - earn passive income">
    <meta name="keywords" content="passive income, earn money, earn online">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/style.min.css">
</head>
